<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="/__/firebase/7.13.1/firebase-app.js"></script>
    <script defer src="/__/firebase/7.13.1/firebase-database.js"></script>
    <script defer src="/__/firebase/init.js"></script>
    <link rel="stylesheet" type="text/css" href="todo1.css">
    <style> ul { list-style-type: none; } </style>
</head>
<body>
<div id="app">
    <h1>할 일</h1>
    <ul>
        <li v-for="(todo, index) in todoList">
            <input type="checkbox" v-model="checked[index]" />
            {{ todo }}
        </li>
    </ul>
    <input type="text" v-model.trim="todo" />
    <button type="button" v-on:click="addTodo" v-bind:disabled="!todo">할일 추가</button>
    <button type="button" v-on:click="deleteTodo" v-show="checkedCount > 0">삭제</button>
</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            todoList: [],
            checked: [],
            todo: ""
        },
        computed: {
            checkedCount: function() {
                let count = 0;
                for (let i = 0; i < this.checked.length; ++i)
                    if (this.checked[i]) ++count;
                return count;
            }
        },
        methods: {
            addTodo: function() {
                this.todoList.push(this.todo);
                this.todo1Ref.set(this.todoList);
                this.todo = "";
            },
            deleteTodo: function() {
                let list = [];
                for (let i = 0; i < this.todoList.length; ++i)
                    if (!this.checked[i])
                        list.push(this.todoList[i]);
                this.todo1Ref.set(list);
                this.checked = [];
            }
        }
    })

    window.onload = function() {
        app.todo1Ref = firebase.database().ref("todo1");
        app.todo1Ref.on('value', (snapshot) => {
            app.todoList  = snapshot.val();
        });
    }
</script>
</body>
</html>
