<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.skhu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlertsActivity" android:label="@string/action_alerts"  />
        <activity
            android:name=".SpinnersActivity"
            android:label="@string/action_spinners" />
        <activity
            android:name=".CheckboxesActivity"
            android:label="@string/action_checkboxes" />
        <activity
            android:name=".ButtonsActivity"
            android:label="@string/action_buttons" />
        <activity
            android:name=".MemoActivity"
            android:label="@string/action_memo" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/action_signUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>