<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        div#app { padding: 50px; margin: 30px auto; max-width: 600px;
            border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa; font-size: 11pt; }
        label { font-size: 11pt; padding-right: 20px; }
        input[type=radio] { width: 11px; height: 11px; }
        div.error { background-color: #fcc; border: 1px solid red;
            padding: 10px; max-width: 500px; margin-top: 30px; }
    </style>
</head>
<body>
<div id="app">
    <!-- radio type에 name 속성을 같은 값으로 설정하면 radio 버튼 하나만 선택할 수 있다. -->
    <label>
        <input type="radio" name="gender" v-bind:value="true" v-model="visible1" />
        남자
    </label>
    <label>
        <input type="radio" name="gender" v-bind:value="true" v-model="visible2" />
        여자
    </label>
    <div class="error" v-if="!(visible1 || visible2)">성별 입력은 필수입니다.</div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            visible1: false,
            visible2: false
        }
    })
</script>
</body>
</html>
